body {
    background-color: whitesmoke;
}

.navbar {
  font-style: color= whitesmoke;
  flex-direction: flex-end;
}

.container {
  padding-top: 5vw;
}

.image {
  max-width: 75%;
  padding: 25px;
}

.card-text {
 max-width: 100%;
  font-size: medium;
}

.btn {
  background-color: black;
  color: antiquewhite;
  text-align: center;
}

.page-header {
  text-align: center;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

/* Media Screen Sizing */

@media screen and (max-width: 970px) {
    body {
      background-color: #333;
}
      /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;
    }

@media screen and (max-width: 575.98px) { 
  body { 
    background-color: whitesmoke;
}
.wrapper {
  width: 250px;
}

@media screen and (max-width: 767.98px) {
  body {
    background-color: whitesmoke;
  }
  .wrapper {
    width: 600px;
  }
@media screen and (max-width: 991.98px) {
  body {
    background-color: whitesmoke;
  }
  .wrapper {
  width: 625px;
  }

  