body {
    background-color: whitesmoke;
}
.container{
  padding-top: 15vw;
}
.navbar {
  font-style: color= whitesmoke;
  flex-direction: flex-end;
}
.cardbody {
  text-align-last: auto;
}

.image{
  margin-top: 25px
 
}
.btn {
  background-color: black;
  color: antiquewhite;
}

.page-header {
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:darkgray;
  color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {
    body {
      background-color: #333;
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;

    }